[submodule "flash-attention"]
	path = flash-attention
	url = https://github.com/MayDomine/flash-attention.git
	branch = opt_bwd
[submodule "ml-cross-entropy"]
	path = ml-cross-entropy
	url = https://github.com/MayDomine/ml-cross-entropy.git
[submodule "Burst-Attention"]
	path = Burst-Attention
	url = git@github.com:MayDomine/Burst-Attention
